
.content {
  position: relative;
  width: 660px;
  height: 100px;
}

.content > div {
  position: absolute;
  width: 220px;
  height: 170px;
  transform-origin: 50% 50% 0px;
  border-radius: 5px;
  font-size: 14.5px;
  touch-action: none;
  margin-top: 10px;
}

.content > img {
    margin-top: 10px;
    touch-action: none;
}

.arrow-button {
    position: relative;
    height: 100%;
}

.arrow-button .arrow-button--left {
    left: 0;
}

.arrow-button .arrow-button--right {
    right: 0;
}
